.connectButton {
     -moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
     -webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
     box-shadow:inset 0px 1px 0px 0px #a4e271;
     background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
     background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
     background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
     background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
     background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
     background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
     background-color:#89c403;
     -moz-border-radius:18px;
     -webkit-border-radius:18px;
     border-radius:18px;
     border:2px solid #74b807;
     cursor:pointer;
     color:#ffffff;
     font-family:Arial;
     font-size:25px;
     font-weight:bold;
     padding:14px 52px;
     text-decoration:none;
     text-shadow:0px 1px 0px #528009;
     text-align: center;
     display: block;
     width: 300px;
     margin-left: 10px;
 }

.connectButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
    background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);
    background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
    background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);
    background:-ms-linear-gradient(top, #77a809 5%, #89c403 100%);
    background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
    background-color:#77a809;
}

.connectButton:active {
    position:relative;
    top:1px;
}

.accessButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
    box-shadow:inset 0px 1px 0px 0px #f7c5c0;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d));
    background:-moz-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
    background:-webkit-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
    background:-o-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
    background:-ms-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
    background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
    background-color:#fc8d83;
    -moz-border-radius:18px;
    -webkit-border-radius:18px;
    border-radius:18px;
    border:1px solid #d83526;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:25px;
    font-weight:bold;
    padding:14px 52px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528009;
    text-align: center;
    display: block;
    width: 300px;
    margin-left: 10px;
}

.accessButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
    background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);
    background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
    background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);
    background:-ms-linear-gradient(top, #77a809 5%, #89c403 100%);
    background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
    background-color:#77a809;
}

.accessButton:active {
    position:relative;
    top:1px;
}

#informationBlock{
    display: none;
    float: left;
}

#file{
    opacity: 0;
    position: absolute;
    z-index: 10;
    cursor: pointer;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
}

#selectedFileName{
        white-space: nowrap; /* Отменяем перенос текста */
        overflow: hidden; /* Обрезаем содержимое */
        padding: 5px; /* Поля */
        text-overflow: ellipsis; /* Многоточие */
}

#selectedFileName:hover {
        background: #f0f0f0; /* Цвет фона */
        white-space: normal; /* Обычный перенос текста */
}

#upload{
    display: none;
}

/*#imgContent{*/
    /*height: 500px;*/
    /*display: none;*/
    /*position: absolute;*/
    /*left: 460px;*/
/*}*/

#shareLink{
    border: 1px solid grey;
    border-radius: 10px;
    width: 388px;
    height: 22px;
    padding: 10px;
    margin-left: 10px;
    color: #a09b9b;
    display: none;
}

#penguin{
    width: 300px;
    height: 300px;
    margin-left: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.icon{
    width: 20px;
    height: 20px;
}